<div class=" navbar navbar-default navbar-fixed-top" id="publicHeaderApp" th:fragment="publicHeader">


    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 text-center" style="background-color: cornflowerblue; color: white">
                <a href="/" style="color: white"><h3>ShoppingSystem</h3></a>
            </div>
        </div>

        <div class="row" style="margin-top: 10px">
            <div class="col-md-6">
                <!--商品类型列表-->
                <ol class="breadcrumb">
                    <li v-for="productType in ProductTypeList">
                        <a href="" v-text="productType.typeName"></a>
                    </li>
                </ol>
            </div>

            <div class="col-md-3">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" name="searchName" class="form-control" id="search"
                               placeholder="请输入搜索关键词">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
            </div>

            <div class="col-md-3">
                <a class="btn btn-default btn-sm" href="">登录</a>
                <a class="btn btn-default btn-sm" href="">注册</a>
                <a class="btn btn-default btn-sm" href="">我的购物车</a>
                <a class="btn btn-default btn-sm" href="">我的订单</a>
                <a class="btn btn-default btn-sm" href="">退出</a>
            </div>

        </div>

    </div>

</div>
