<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图书详情</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

<div th:insert="publicHeader.html"></div>
<script th:src="@{/publicHeader.js}"></script>


<div class="container-fluid" id="app" style="margin-top: 180px;margin-bottom: 100px">

    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img :src="productInfo.productImgsrc" alt="...">
            </div>
        </div>
        <div class= "col-md-8">
            <p>商品名 : <span v-text="productInfo.productName"></span></p>
            <br/>
            <p>商品产地 : <span  v-text="productInfo.productArea"></span></p>
            <br/>
            <p>商品价格 : <span v-text="productInfo.productPrice" ></span></p>
            <br/>
            <p>商品简介: <span  v-text="productInfo.detail"></span></p>
            <br/>
            <br/>
            <br/>
            <a class="btn btn-success" >加入购物车</a>
        </div>
    </div>

</div>

<script>

    console.log("------singleProduct-----")

    let app = new Vue({
        el:"#app",
        data:{
            productId:-1,
            productInfo:{}

        },
        methods:{
            initProductInfo(){

                let vueObj = this;

                $.post("/product/detail",{productId:this.productId},function (data) {
                    console.log(data)
                    vueObj.productInfo = data;
                })

            }
        },
        created(){
            let productId = sessionStorage.getItem("toSeeDetailProductId");
            console.log(productId)
            this.productId = productId;

            this.initProductInfo();
        }
    })

</script>


<div th:insert="publicFooter.html"></div>


</body>
</html>